body{
    background-color: black;
    color: aliceblue;
}

.header{
    text-align: center;
}

label{
    color: aqua;
    font-size: 15px;
}

h4{
    text-decoration-line: underline;
}

.rules{
    text-align: center;
}

.playername-container{
    width: 700px;
    margin-top: 15%;
}

.game-container{
    margin-bottom: 15%;
}

.jumbotron{
    background: transparent;
}

