body{
    background-color: black;
    color: aliceblue;
}

.header{
    text-align: center;
}

label{
    color: aqua;
    font-size: 50px;
}

h4{
    text-decoration-line: underline;
}

.rules{
    text-align: center;
}

#roll-dice-btn1{
    margin-top: 25%;
}

#roll-dice-btn2{
    margin-top: 25%;
}

.playername-container{
    width: 700px;
    margin-top: 15%;
}

.game-container{
    margin-bottom: 15%;
}

#p1{
    background-color: blue;
}

#p2{
    background-color: red;
}

