body{

}

label{
    color: aqua;
    font-size: 50px;
}

h4{
    text-decoration-line: underline;
}

.rules{
    text-align: center;
}

#roll-dice-btn1{
    margin-top: 50%;
}

#roll-dice-btn2{
    margin-top: 50%;
}
